{% extends 'blog/base.html' %}

{% block content %}
    <div id="Animaux">
        <h1><center> Animaux </center></h1>
        <div id="col">
        {% for animal in animals %}
            <div class="container">
                <h2>{{ animal.id_animal }}</h2>
                <b><img src="{{animal.photo}}" width="130" height="100"/></b>
                <p><h6>Etat : {{ animal.etat|linebreaksbr }}</p></h6>
                <p><h6>Lieu : {{ animal.lieu|linebreaksbr }}</p></h6>
                <h2 ><a id="rectangle" href="{% url 'animal_detail' id_animal=animal.id_animal %}"> Plus de détails</a></h2>
                <p></p>
            </div>
        {% endfor %}
        </div>
    </div>


    <div id='Equipements'>
        <div></div>
        <h1><center> Equipements </center></h1>
        <div id="col">
        {% for equipement in equipements %}
            <div class="container">
                <h2>{{ equipement.id_equip }}</h2>
                <h6><img src={{equipement.photo}} width="130" height="100"/><h6>
                <p><h6>Disponibilité : {{ equipement.disponibilite }}</h6></p>
                <p></p>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
